project_name                    = "syncnesto"
app_env                         = "production"
demo_mode                       = true
demo_data_isolated              = true
deleted_data_cleanup_mode       = "execute"
deleted_data_cleanup_tenant_ids = [1]
vercel_team_id                  = "team_WyjvWWMPeMn7kxuteyNsC7EE"
connect_github                  = false
backend_api_url                 = "https://syncnesto-api.vercel.app"
backend_allowed_hosts           = ["syncnesto-api-shima-hei.vercel.app"]
neon_region_id                  = "aws-ap-southeast-1"
vercel_function_region          = "sin1"
neon_organization_id            = "org-empty-dew-85265327"
